@import 'utilities';
@import 'config'; 
@import 'buttons';
@import 'mobile';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #30343F;
    font-family: $font-stack;
    line-height: 1.6;
}

ul,li{
    color: $font-color-dark-theme;
    list-style-type: none;
}
.img-1{
    margin: 40px;
    border-radius: 5%;
    border: 5px solid white;
}

.right-section{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
.left-section{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
.section-2{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.banner-text{
    margin: auto;
    margin-top: 40px;
    width: 320px;
    padding: 12px 24px;
    border-radius: 24px;
    background-color: hsla(0,0%,100%,.1);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.feature-block:hover{
    transform: rotateX(180deg);

}

.feature-block{
    overflow: auto;
    margin: 40px 40px 40px 40px;
    display: flex;
    height: 100%;
    max-height: 280px;
    min-width: 180px;
    padding: 32px;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background-color: #1f1f1f;
    box-shadow: 1px 1px 57px 0 rgb(0 0 0 / 9%);
    text-align: center;
}

.feature-block-img{
    display: flex;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 40px;
    background-color: #ffefbe;
}

.showcase {
    @include set-background($primary-color);
    height: 600px;

    nav {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        color: $font-color-dark-theme;
        display: flex;
        list-style-type: none;
    }

    li {
        padding: 15px;
    }

    a:hover {
        color: $font-color-dark-theme;
    }

    &-content {
        margin: 30px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 50%;
    }

    h1 {
        font-size: 42px;
        line-height: 1.2;
    }

    p {
        margin: 20px 0;
    }
}









